<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl0thuJvJuOW4OSVZ4RQSJ5kgc_eCpaRY</string>
	<key>GCM_SENDER_ID</key>
	<string>127727631385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yemekTarifiUygulama</string>
	<key>PROJECT_ID</key>
	<string>yemektarifi-903ed</string>
	<key>STORAGE_BUCKET</key>
	<string>yemektarifi-903ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127727631385:ios:775a7f114a1a3f1a663e88</string>
</dict>
</plist>